<div class="container">

  <h2>Basic Configuration</h2>

  <ngx-checkbox [configuration]="jsonModel" [(ngModel)]="isSelected" name="isSelected"></ngx-checkbox>
  <pre class="boolean">{{ isSelected }}</pre>
  <b>TS:</b>
  <pre><![CDATA[
import { CustomCheckBoxModel } from 'angular-custom-checkbox';
...

export class AppExampleComponent implements OnInit  {  
  isSelected: boolean = false;
  configuration: CustomCheckBoxModel = new CustomCheckBoxModel();´
  ...
}]]></pre>
  <b>HTML:</b>
  <pre><![CDATA[<ngx-checkbox [configuration]="configuration" [(ngModel)]="isSelected" name="isSelected"></ngx-checkbox>]]></pre>  

  <h4>Colors</h4> 
  p-primary
  <ngx-checkbox [configuration]="configurationPrimary" [(ngModel)]="isSelected" name="isSelected"></ngx-checkbox>
  p-success 
  <ngx-checkbox [configuration]="configurationSuccess" [(ngModel)]="isSelected" name="isSelected"></ngx-checkbox>
  p-danger
  <ngx-checkbox [configuration]="configurationDanger" [(ngModel)]="isSelected" name="isSelected"></ngx-checkbox>
  p-info
  <ngx-checkbox [configuration]="configurationInfo" [(ngModel)]="isSelected" name="isSelected"></ngx-checkbox>
  p-warning
  <ngx-checkbox [configuration]="configurationWarning" [(ngModel)]="isSelected" name="isSelected"></ngx-checkbox>
  
  <h2>Advanced Configuration</h2>

  <ngx-checkbox [configuration]="configurationCustom" [(ngModel)]="isSelected" name="isSelected"></ngx-checkbox>
  <br>
  <br>
  <b>TS:</b>
  <pre><![CDATA[
this.configurationCustom.colorHex = '#F500FF';
this.configurationCustom.colorInside = '#FFF' //or 'white';
this.configurationCustom.rounded = true;
this.configurationCustom.icon = 'fa fa-pencil';]]></pre>
</div>